body {
    margin: 0;
    padding: 0;
    background-color: rgb(56, 47, 82);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.card {
    margin: 20px;
    padding: 20px;
    background-color: cornsilk;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
}

h1 {
    color: #3b1032;
    margin-bottom: 20px;
    text-align: center;
}

.balanceCard {
    margin-bottom: 20px;
    justify-content: space-between;
    display: flex;
}

.balance {
    margin: 0 5px;
    padding: 10px;
    flex: 1;
    border-radius: 5px;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    background-color: rgb(198, 216, 197);
    color:rgb(22, 34, 34);
}

.enterAmount {
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 25px;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #1d0a19;
    border-radius: 5px;
}

.btn {
    display: flex;
    gap: 20px;
}

button {
    padding: 10px;
    color: white;
    flex: 1;
    border: 1px solid black;
    border-radius: 5px;
    
}

#depositBtn {
    background-color: green;
}

#withdrawBtn {
    background-color: red;
}